<div class="container">
  <main class="w-100 m-auto">
    <form [formGroup]="questionSearchForm">
      <div class="row">
        <div class="col-sm-2">
          <h2 class="h6 mb-3 fw-normal text-light">Search for a Question: </h2>
        </div>
        <div class="col-sm-2">
          <div class="form-floating my-1">
            <select class="form-control rounded-5" id="topic"
                    placeholder="topic" name="topic" formControlName="topic">
              <option value="All">All</option>
              <option value="Java">Java</option>
              <option value="Python">Python</option>
              <option value="C++">C++</option>
              <option value="C#">C#</option>
              <option value="JavaScript">JavaScript</option>
              <option value="PHP">PHP</option>
              <option value="Server">Server</option>
            </select>
            <label for="topic">Topic</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-floating">
            <input type="text" class="form-control rounded-5" id="floatingName"
                   placeholder="name" name="name" formControlName="search">
            <label for="floatingName">Question Search</label>
          </div>
        </div>
        <div class="col-sm-2 float-end h-auto">
          <button class="w-auto btn btn-lg btn-primary rounded-5" (click)="onSubmit()">Search</button>
        </div>
      </div>

    </form>
  </main>
  <app-questions-table/>
</div>
