<div class="container">
  <main class="w-100 m-auto">
    <form>
      <div class="row">
        <div class="col-sm-2">
          <h2 class="h6 mb-3 fw-normal text-light">Search for a Question: </h2>
        </div>
        <div class="col-sm-2">
          <div class="form-floating">
            <select class="form-control rounded-5" id="floatingUsername"
                    placeholder="username" name="username" [(ngModel)]="topic">
              <option value="1">Java</option>
              <option value="2">Python</option>
              <option value="3">C++</option>
              <option value="4">C#</option>
              <option value="5">JavaScript</option>
              <option value="6">PHP</option>
              <option value="7">Server</option>
            </select>
            <label for="floatingUsername">topic</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-floating">
            <input type="text" class="form-control rounded-5" id="floatingName"
                   placeholder="name" name="name">
            <label for="floatingName">Question Search</label>
          </div>
        </div>
        <div class="col-sm-2 float-end h-auto">
          <button class="w-auto btn btn-lg btn-primary rounded-5">Search</button>
        </div>
      </div>

    </form>
  </main>
  <app-questions-table/>
</div>
