<div class="container bg-dark">
  <main class=" w-100 m-auto bg-dark">
    <form [formGroup]="chatForm">
      <h1 class="h3 mb-3 fw-normal text-light">Create an Answer</h1>
      <div class="form-floating my-1">
        <div *ngIf="chatForm.get('message')?.invalid && chatForm.get('message')?.touched"
             class="text-danger">
          <div *ngIf="chatForm.get('message')?.errors?.['required']" class="fs-4 text-center">
            message is required.
          </div>
          <div *ngIf="chatForm.get('message')?.errors?.['minlength']" class="fs-4 text-center">
            message must be at least 3 characters long.
          </div>
        </div>
        <textarea class="form-control border h-auto" id="message" rows="5"
                  placeholder="" name="message" formControlName="message" required
                  [ngClass]="{'border-danger': chatForm.get('message')?.invalid && chatForm.get('message')?.touched}">
        </textarea>
        <label for="message" class="text-dark">Message</label>
      </div>
      <div class="my-1">
        <div *ngIf="chatForm.get('receiver')?.invalid && chatForm.get('receiver')?.touched"
             class="text-danger">
          <div *ngIf="chatForm.get('receiver')?.errors?.['required']" class="fs-4 text-center">
            receiver is required.
          </div>
          <div *ngIf="chatForm.get('receiver')?.errors?.['minlength']" class="fs-4 text-center">
            receiver must be at least 3 characters long.
          </div>
        </div>
        <div class="form-floating input-group">
          <input type="text" class="form-control border h-auto" id="receiver" rows="5"
                 placeholder="" name="receiver" formControlName="receiver" required aria-describedby="button-addon2"
                 [ngClass]="{'border-danger': chatForm.get('receiver')?.invalid && chatForm.get('receiver')?.touched}">
          <label for="receiver" class="text-dark">Send to</label>
          <button class="btn btn-lg btn-secondary" id="button-addon2" [disabled]="!chatForm.valid" (click)="onSend()">Send</button>
        </div>
      </div>
    </form>
  </main>

</div>

