<div class="container">
  <table class="table text-light">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
      <th scope="col">Created By</th>
      <th scope="col">Created At</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let answer of this.answerService.answers">
      <th scope="row">{{answer.id}}</th>
      <td>{{answer.description_answer}}</td>
      <td>
        <img src="http://localhost:8080/api/v1/storage/getImage/{{answer.img_src}}" alt="" class="h-75 w-75">
      </td>
      <td>
        {{answer.created_by}}
      </td>
      <td>
        {{answer.datetime}}
      </td>
      <td>
        <button class="btn btn-primary my-1 w-100" (click)="onApproveAnswer(answer.id)">Approve</button>
        <br>
        <button class="btn btn-primary w-100" (click)="onRejectAnswer(answer.id)">Remove</button>
      </td>
    </tbody>
  </table>
</div>

