<main class=" w-100 m-auto">
  <form [formGroup]="loginForm">
    <h1 class="h3 mb-3 fw-normal text-light">log in</h1>
    <div class="form-floating my-1">
      <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
           class="text-danger">
        <div *ngIf="loginForm.get('username')?.errors?.['required']" class="fs-4 text-center">
          Username is required.
        </div>
        <div *ngIf="loginForm.get('username')?.errors?.['minlength']" class="fs-4 text-center">
          Username must be at least 2 characters long.
        </div>
      </div>
      <input type="text" class="form-control" id="username"
             [ngClass]="{'border-danger': loginForm.get('username')?.invalid && loginForm.get('username')?.touched}"
             placeholder="username" name="username" formControlName="username" required>
      <label for="username">Username</label>
    </div>
    <div class="form-floating my-1">
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
           class="text-danger">
        <div *ngIf="loginForm.get('password')?.errors?.['required']" class="fs-4 text-center">
          Password is required.
        </div>
        <div *ngIf="loginForm.get('password')?.errors?.['minlength']" class="fs-4 text-center">
          Password must be at least 8 characters long.
        </div>
      </div>
      <input type="password" class="form-control" id="password"
             placeholder="Password" name="password" formControlName="password" required
             [ngClass]="{'border-danger': loginForm.get('password')?.invalid && loginForm.get('password')?.touched}">
      <label for="password">Password</label>
    </div>
    <div class="checkbox mb-3 my-1">
      <label class="text-light">
        <input type="checkbox" value="remember-me" name="rememberMe" formControlName="rememberMe" required> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-secondary" (click)="login($event)">Log in</button>
  </form>
</main>
