<div class="container">
  <table class="table text-light">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Topic</th>
      <th scope="col">Title</th>
      <th scope="col">Image</th>
      <th scope="col">Created By</th>
      <th scope="col">Date</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let question of this.questionService.questions">
      <th scope="row">{{question.id}}</th>
      <td>{{question.topic}}</td>
      <td>{{question.title}}</td>
      <td><img src="http://localhost:8080/api/v1/storage/getImage/{{question.image_src}}" width="100px" height="100px"></td>
      <td>{{question.created_by}}</td>
      <td>{{question.datetime}}</td>
      <td>
        <button class="btn btn-secondary my-1 w-100" (click)="onApproveQuestion(question.id)" type="button">Approve</button>
        <br>
        <button class="btn btn-secondary w-100" type="button" (click)="onRejectQuestion(question.id)">Remove</button>
      </td>
    </tbody>
  </table>
</div>
