<div class="container">
  <main class=" w-100 m-auto">
    <form [formGroup]="questionForm">
      <h1 class="h3 mb-3 fw-normal text-light">Upload a New Question</h1>
      <div class="form-floating my-1">
        <div *ngIf="questionForm.get('title')?.invalid && questionForm.get('title')?.touched"
             class="text-danger">
          <div *ngIf="questionForm.get('title')?.errors?.['required']" class="fs-4 text-center">
            Title is required.
          </div>
          <div *ngIf="questionForm.get('title')?.errors?.['minlength']" class="fs-4 text-center">
            Title must be at least 10 characters long.
          </div>
        </div>
        <input type="text" class="form-control" id="title"
               [ngClass]="{'border-danger': questionForm.get('title')?.invalid && questionForm.get('title')?.touched}"
               placeholder="name" name="name" formControlName="title" required>
        <label for="title">Title</label>
      </div>
      <div class="form-floating my-1">
        <div *ngIf="questionForm.get('topic')?.invalid && questionForm.get('topic')?.touched"
             class="text-danger">
          <div *ngIf="questionForm.get('topic')?.errors?.['required']" class="fs-4 text-center">
            topic is required.
          </div>
        </div>
        <select class="form-control" id="topic"
                [ngClass]="{'border-danger': questionForm.get('topic')?.invalid && questionForm.get('topic')?.touched}"
                placeholder="topic" name="topic" formControlName="topic" required>
          <option value="Java">Java</option>
          <option value="Python">Python</option>
          <option value="C++">C++</option>
          <option value="C#">C#</option>
          <option value="JavaScript">JavaScript</option>
          <option value="PHP">PHP</option>
          <option value="Server">Server</option>
        </select>
        <label for="topic">Topic</label>
      </div>
      <div class="form-floating my-1">
        <div *ngIf="questionForm.get('description')?.invalid && questionForm.get('description')?.touched"
             class="text-danger">
          <div *ngIf="questionForm.get('description')?.errors?.['required']" class="fs-4 text-center">
            description is required.
          </div>
          <div *ngIf="questionForm.get('description')?.errors?.['minlength']" class="fs-4 text-center">
            email must be at least 25 characters long.
          </div>
        </div>
        <textarea class="form-control border h-auto" id="description" rows="5"
                  placeholder="" name="description" formControlName="description" required
                  [ngClass]="{'border-danger': questionForm.get('email')?.invalid && questionForm.get('email')?.touched}">
        </textarea>
        <label for="description">Description</label>
      </div>
      <div class="form-floating my-1">
        <div *ngIf="questionForm.get('file')?.invalid && questionForm.get('file')?.touched"
             class="text-danger">
          <div *ngIf="questionForm.get('file')?.errors?.['required']" class="fs-4 text-center">
            File is required.
          </div>
          <div *ngIf="questionForm.get('file')?.errors?.['fileUploadFormat']" class="fs-4 text-center">
            File must be a jpg, jpeg, or png.
          </div>
        </div>
        <input type="file" class="form-control" id="file" accept="image/png, image/jpeg, image/jpg"
               placeholder="" name="file" formControlName="file" required (change)="onChange($event)"
               [ngClass]="{'border-danger': questionForm.get('file')?.invalid && questionForm.get('file')?.touched}">
        <label for="file">File Upload (max size: 128kb)</label>
      </div>
      <button class="w-100 btn btn-lg btn-secondary"
              [disabled]="!questionForm.valid" (click)="onUpload()">Upload
      </button>
    </form>
  </main>

</div>
